//.services{
//  margin-top: 20vh;
//  width: 100%;
//  height: 110vh;
//  background-repeat: no-repeat;
//  background-size: cover;
//  overflow: hidden;
//
//  position: relative;
//  .hoverPos{
//    position: absolute;
//    top:0;
//    height: 110%;
//    margin: 0 auto;
//    align-items: center;
//    align-self: center;
//    p{
//      text-align: center;
//    }
//  }
//
//
//  .services_video{
//    position: absolute;
//    width: 100%;
//
//
//    z-index: -1;
//  }
//
//  .li{
//    height: 120vh;
//
//
//    .services_list{
//      display: flex;
//      flex-direction: column;
//      .list_item{
//        position: relative;
//
//
//      }
//    }
//
//
//
//    .services_intro{
//      display: flex;
//      flex-direction: column;
//      width: 100%;
//      overflow: hidden;
//      z-index: 1;
//      h2{
//        color:white;
//        margin-top: 20vh;
//        font-size: 300%;
//      }
//      p{
//        margin-top: 5vh;
//        color: white;
//        letter-spacing: 2px;
//        font-size: 15px;
//        width: 70%;
//        text-align: left;
//      }
//    }
//
//  }
//
//
//
//}



.services{
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  .services_content{
    width: 100%;
    overflow: hidden;
    position: relative;
    .services_text{
      margin-top: 10vh;
      margin-left: 5vw;
      h2{
        font-size: 300%;
        color:white;
        margin-bottom: 5vh;
      }
      p{
        color: white;
        letter-spacing: .1em;
        font-size: 90%;
        width: 70%;
      }
    }
    .hoverPos{
      position: absolute;
      top: 0;
      padding: 10vh;
      height: 100%;
    }
    .hoverStart{
      transform: translate(200%,0);
      transition: 1s;
      width: 100%;
    }
    .hoverMade{
      width: 100%;
      transform: translate(0,0);
      transition: 1s;

    }

  }
  .col-lg-6{
    padding: 0 !important;
  }
  .services_list{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    .list_item{
        margin-top: 2vh;
      margin-left: 2vw;
      color:white;

      letter-spacing: 2px;
      h2{
        font-weight: bolder;
      }
    }
  }
}
