@import '../scss/variables.scss';
@import '../scss/mixin.scss';




.services {
    height: 100vh;
    width: 100%;
    position: relative;

    .ourService {
        width: 100%;
        img {
            width: 100%;
            height: 100vh;
        }
    }
    .backService {
        @include position(absolute, 15%, 0%, 100%, 80vh);
        background: rgba(255,255,255,.9);
        .offers {
            width: 95%;
            margin: 0 auto;
            @include display(flex, space-between, center);
        }
    }
    .title {
        flex: .8;
        .borderTitle {
            width: 65%;
            margin: 0;
                padding: 0;
            h2 {
                @include font(55px, 500, #77e51e);
                
                span {
                    color: $color;
                }
            }
            .otherService {
                color: #77e51e;
                margin: -15px 0 50px 30px;
            }
        }
    }
    .allServices {
        flex: 2;
        background: greenyellow;
    }
}