


@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

ul{
  list-style-type:none;
  padding: 0;
  align-self: start;
  // margin: 25px;
}
.containers {
  display: flex;

 flex-direction : row-reverse;
  width: 70%;

  ul.menu {
    height: 50px;
    width: 50px;
    cursor: pointer;
    li {
      position: relative;
      background:black;
      margin: 10px;
      height: 2px;
      width: 50px;

      // border-radius:20px;
      transition: transform .3s, width .3s;
    }
  }
  .active_menu {
    transition-delay: 0s;
    pointer-events: all;
    li{
      &:nth-child(1){
        top: 18px;
        transform: rotate(135deg);
        transition: transform .3s;
        background: black;
      }
      &:nth-child(2){
        width: 0;
        // transform: rotate(180deg);
        transition: width .3s;
      }
      &:nth-child(3){
        bottom: 18px;
        transform: rotate(-135deg);
        transition: transform .3s;
        background: black;
      }
    }
  }
  @keyframes nav {
    from{
      transform: scale(0);
    }
    to{
      transform: scale(1);

    }
  }
  .active_item:hover{
    color: #004681;
    transition: .5s;
     cursor: pointer;
  }

  .active_item:nth-child(1) {

    animation: nav 1s;
    transform: scale(1);

  }

  .active_item:nth-child(2) {

    animation: nav .9s;

    transform: scale(1);

  }
  .active_item:nth-child(3) {
    animation: nav .8s;
    transform: scale(1);
  }
  .active_item:nth-child(4) {
    animation: nav .7s;
    transform: scale(1);
  }
  .active_item:nth-child(5) {
    animation: nav .6s;
    transform: scale(1);
  }
  .active_item:nth-child(6) {
    animation: nav .5s;
    transform: scale(1);
  }
  .active_item:nth-child(7) {
    animation: nav .4s;
    transform: scale(1);
  }
  .active_item:nth-child(8) {
    animation: nav .3s;
    transform: scale(1);
  }
  .active_item:nth-child(9) {
    animation: nav .2s;
    transform: scale(1);
  }
  .active_item:nth-child(10) {
    animation: nav 0.1s;
    transform: scale(1);
  }
  .active_links{
    width: 100% !important;
    margin-left: 0px !important;
    transition: width .4s, margin-left .4s;
  }
}
.item_menu{
  display: flex;
}
.item {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-right: 70px;
  top: 10px;
  transform: scale(0);
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
  color: black;
}
.item:nth-child(1) {

  animation: navik 0s;
  transform: scale(0);

}
.item:nth-child(2) {

  animation: navik .1s;
  transform: scale(0);
}
.item:nth-child(3) {

  animation: navik .2s;
  transform: scale(0);
}
.item:nth-child(4) {

  animation: navik .3s;
  transform: scale(0);
}
.item:nth-child(5) {

  animation: navik .4s;
  transform: scale(0);

}
.item:nth-child(6) {

  margin-right: 110px;
  animation: navik .5s;
  transform: scale(0);
}
.item:nth-child(7) {

  animation: navik .6s;
  transform: scale(0);
}
.item:nth-child(8) {

  animation: navik .7s;
  transform: scale(0);
}
.item:nth-child(9) {

  animation: navik .8s;
  transform: scale(0);
}
.item:nth-child(10) {

  animation: navik .9s;
  transform: scale(0);
}
.item {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 11px;
}
@keyframes navik {
  from{
    transform: scale(1);
  }
  to{transform: scale(0)}
}