$bg_color: linear-gradient(45deg, rgb(17, 153, 142), rgb(56, 239, 125));
$main_color : white;
$primary_color: black;

@import url('https://fonts.googleapis.com/css?family=Montserrat:900');

ul{
  list-style-type:none;
  padding: 0;
  align-self: start;
  // margin: 25px;
}
.containers {
  display: flex;

 flex-direction: column;
  width: 220%;

  ul.menu {
    height: 50px;
    width: 50px;
    cursor: pointer;
    li {
      position: relative;
      background:linear-gradient(98deg, rgba(1,108,171,1) 0%, rgba(0,166,110,1) 72%, rgba(165,208,56,1) 100%);
      margin: 10px;
      height: 2px;
      width: 50px;

      // border-radius:20px;
      transition: transform .3s, width .3s;
    }
  }
  .active_menu {


    li{
      &:nth-child(1){
        top: 18px;
        transform: rotate(135deg);
        transition: transform .3s;
      }
      &:nth-child(2){
        width: 0;
        // transform: rotate(180deg);
        transition: width .3s;
      }
      &:nth-child(3){
        bottom: 18px;
        transform: rotate(-135deg);
        transition: transform .3s;
      }
    }
  }

  ul.links {
    background:rgba(255,255,255,1);
    text-align: left;
    overflow:hidden;
    box-shadow: -5px 10px 2px -2px rgba(0,0,0,.2);
    margin-top: -10px;
    width: 0;
    border-radius: 10px;
    transition: width .4s, margin-left .4s;
    li{
      margin-bottom: 20px;
      padding: 10px;
      a{
        color:#016cab;
        text-decoration:none;
        transition: color .5s;
        text-transform:uppercase;
        font-size:130%;
        font-family: 'Changa', sans-serif;
        transition: color .5s, margin-left .5s;
        &:hover {
          color: #9CD01C;
          margin-left: 5px;
          transition: color .5s, margin-left .5s;
        }
      }
    }
  }
  .active_links{
    width: 100% !important;
    margin-left: 0px !important;
    transition: width .4s, margin-left .4s;
  }
}
