.SecPortfolio{
  width: 100%;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  .navSkills{
    display: flex;
    margin-top: 10vh;
  }
  .skilsImg{
    width: 50%;
    height: 50vh;
    background-image: url("./PortfolioImg/1555571973.jpg") ;
    background-size: 100% 80%;
    background-repeat: no-repeat;
  }
  .Skills{
    position: relative;
    width: 50%;
    .opsit{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.7);
    }
    .OurProj{
      width: 40%;
      margin: 0 auto;
    }
    .OurP{
      color: #9CD01C;
      font-size: 50px;
      margin-top: 15vh;
    }
    .proj{
      color:  #0074C3;
      font-size: 50px;
      margin-top: -5vh;
    }
  }
}
.navSkill {
  margin-top: 5vh;
  margin-left: 10%;
  li{
    &:hover{
     a{
       color: #9CD01C;
       padding-left: 5px;
       transition: 1s;
     }
    }
    a{
      text-decoration: none;
      color: #01517F;
      font-size: 20px;
    }
  }
}