.SecPortfolio{
  width: 100%;
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  .navSkills{


  }
  .Skills{
    position: relative;
    background-color: white;
    width: 50%;
    background-image: url("./PortfolioImg/1555571973.jpg") ;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    .opsit{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,0.7);
    }
    .OurProj{
      width: 40%;
      margin: 0 auto;
    }
    .OurP{
      color: #9CD01C;
      font-size: 50px;
      margin-top: 15vh;
    }
    .proj{
      color:  #0074C3;
      font-size: 50px;
      margin-top: -5vh;
    }
  }
}
.navSkills {
  margin-top: 5vh;
  margin-left: 70%;
}