@media only screen and (max-width: 1920px) {
  .mdiv2 {
    height: 8vh;
    width: 1vh;
  }
  .md2 {
    height: 8vh;
    width: 1vh;
  }
}

@media only screen and (max-width: 1820px) {
  .mdiv2 {
    height: 7.5vh;
    width: 1vh;
  }
  .md2 {
    height: 7.5vh;
    width: 1vh;
  }
}

@media only screen and (max-width: 1720px) {
  .mdiv2 {
    height: 7vh;
    width: 1vh;
  }
  .md2 {
    height: 7vh;
    width: 1vh;
  }
}
@media only screen and (max-width: 1620px) {
  .mdiv2 {
    height: 6.7vh;
    width: 1vh;
  }
  .md2 {
    height: 6.7vh;
    width: 1vh;
  }
}
@media only screen and (max-width: 1520px) {
  .mdiv2 {
    height: 6.2vh;
    width: 1vh;
  }
  .md2 {
    height: 6.2vh;
    width: 1vh;
  }
}
@media only screen and (max-width: 1420px) {
  .mdiv2 {
    height: 6vh;
    width: 1vh;
  }
  .md2 {
    height: 6vh;
    width: 1vh;
  }
}
@media only screen and (max-width: 1320px) {
  .mdiv2 {
    height: 5.8vh;
    width: 1vh;
  }
  .md2 {
    height: 5.8vh;
    width: 1vh;
  }
}
@media only screen and (max-width: 1220px) {
  .mdiv2 {
    height: 5.4vh;
    width: 1vh;
  }
  .md2 {
    height: 5.4vh;
    width: 1vh;
  }
}
@media only screen and (max-width: 1120px) {
  .mdiv2 {
    height: 5.2vh;
    width: 1vh;
  }
  .md2 {
    height: 5.2vh;
    width: 1vh;
  }
}
@media only screen and (max-width: 1020px) {
  .mdiv2 {
    height: 5vh;
    width: 1vh;
  }
  .md2 {
    height: 5vh;
    width: 1vh;
  }
}