@media only screen and (max-width: 1800px) {
    .video_div{
        .headH2{
            font-size: 480%;
        }
        .headh2_1{
            font-size: 280%;
        }
        .headh2_2{
            font-size: 280%;
            top:51%;
        }
    }
    
  }
  @media only screen and (max-width: 1720px) {
      .video_div{
        .headH2{
            font-size: 450%;
        }
        .headh2_1{
            font-size: 280%;
        }
        .headh2_2{
            font-size: 280%;
        }
      }
    
  }
  @media only screen and (max-width: 1620px) {
    .video_div{
      .headH2{
          font-size: 400%;
      }
      .headh2_1{
          font-size: 220%;
      }
      .headh2_2{
          font-size: 220%;
          top:45%
      }
    }
  
}
@media only screen and (max-width: 1520px) {
    .video_div{
      .headH2{
          font-size: 380%;
      }
      .headh2_1{
          font-size: 200%;
      }
      .headh2_2{
          font-size: 200%;
          top:45%
      }
    }
  
}
@media only screen and (max-width: 1420px) {
    .video_div{
      .headH2{
          font-size: 350%;
      }
      .headh2_1{
          font-size: 180%;
      }
      .headh2_2{
          font-size: 180%;
          top:45%
      }
    }
  
}

@media only screen and (max-width: 1320px) {
    .video_div{
      .headH2{
          font-size: 320%;
      }
      .headh2_1{
          font-size: 160%;
      }
      .headh2_2{
          font-size: 160%;
          top:45%
      }
    }
  
}


@media only screen and (max-width: 1100px) {
    .video_div{
      .headH2{
          font-size: 300%;
      }
      .headh2_1{
          font-size: 140%;
      }
      .headh2_2{
          font-size: 140%;
          top:45%
      }
    }
  
}
@media only screen and (max-width: 980px) {
    .video_div{
      .headH2{
          font-size: 280%;
      }
      .headh2_1{
          font-size: 120%;
          
      }
      .headh2_2{
          font-size: 120%;
          top:45%
      }
    }
  
}