@import '../scss/variables.scss';
@import '../scss/mixin.scss';

.contact {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    .contactSize {
        .contactContainer {
            width: 90%;
            margin: 10px auto;
            @include display(flex, space-between, start);
        }
        padding-top: 100px;
        .formControler {
            form {
                display: flex;
                flex-direction: column;
            button {
                @include width(50%, auto, 10px 0, 10px 0);
                @include font(20px, 500, white);
                border: none;
                border-radius: 5px;
                background: $color;
                cursor: pointer;
                &:disabled {
                    background: grey;
                }
            }
            
            }
            width: 50%;
            
            color: $color;
            textarea {
                width: 75%;
                outline: none;
                height: auto;
                color: $color;
                border: none;
                border-radius: 5px;
                padding-left: 15px;
            }
        }
        .getIn {
            h2 {
                @include font(45px, 500, $color);
                letter-spacing: 3px;
            }
            .social {
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                width: 105%;
                .media {
                    @include display(flex, space-between, start);
                    
                    @include width(100%, auto, 10px auto, 5px);
                    p {
                        @include font(18px, 500, $color);
                        border-bottom: 1px solid $color;
                    }
                    
                }
                .mediaIcons {
                        @include display(flex, space-between, start);
                        width: 70%;
                        .faFacebook {
                            @include width(100%, auto, 10px auto, 0);
                            display: flex;
                            justify-content: space-between;
                            a {
                                display: inline-block;
                                @include width(50px, 50px, 10px, 0);
                                background: #f5f5f5;
                                border-radius: 30%;
                                box-shadow: 0 5px 15px -5px #00000070;
                                color: $color;
                                overflow: hidden;
                                position: relative;
                                text-align: center;
                                &:hover i {
                                    transform: scale(1.3);
                                    color: #f1f1f1;
                                }
                                &::before {
                                    content: '';
                                    background: $color;
                                    transform: rotate(45deg);
                                    @include position(absolute, 90%, -110%, 120%, 120%);

                                }
                                &:hover::before {
                                    animation: anime .7s 1;
                                    top: -10%;
                                    left: -10%;
                                }
                                @keyframes anime {
                                    0% {
                                        top: -110%;
                                        left: -90%;
                                    }
                                    50% {
                                        top: -10%;
                                        left: -30%;
                                    }
                                    100% {
                                        top: -10%;
                                        left: -10%;
                                    }
                                }
                                i {
                                line-height: 50px;
                                font-size: 22px;
                                transition: .2s linear;
                                }
                                
                            }
                        }
                    }
            }
        }
    }
}