.nav_fixed{
  position: fixed;
  width: 10%;
  top:5%;
  right: 8.5%;
  z-index: 3;

}
header_container{
  width: 100%;
  margin: 0 auto;
}
.logo{
  position: fixed;
  width: 10%;
  top:5%;
  left: 5%;
  z-index: 3;
  img{
    width: 100%;

  }
}