.nav_fixed{
  position: fixed;
  width: 10%;

  right: 3%;

  top:3%;

  z-index: 3;

}
.absolute{
  position: fixed;
  z-index: 1999;
  background:rgba(255,255,255,1);
  padding: 45px ;
  width: 100%;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
header_container{
  width: 100%;
  margin: 0 auto;

}
.logo{
  position: fixed;
  width: 10%;
  top:3%;
  left: 7%;
  z-index: 3;
  
  img{
    width: 100%;
    cursor: pointer;

  }
}
