@media only screen and (max-width: 1920px) {
  .flagTop{
    .arrow-down{
      display: none;
    }
  }
  .flagTop_mobile{
    transform: scale(0);
    .arrow-down{
      display: none;
    }

  }
  .mobile_active_item{
    display: none;
  }
  .mobile_item{
    display: none;
  }
    .nav_fixed {

        .active_item {
            font-size: 120%;
            
        }
        .active_item:nth-child(7) {
            margin-right: 200px;
        }
        .containers {
            .menu {
                li {
                    height: 4px;
                    width: 60px;
                }
            }
        }

    }

  }
  @media only screen and (max-width: 1820px) {
    .flagTop{
      top:35%;
    }
    .nav_fixed {
      top: 5%;
        .active_item {
            font-size: 115%;
            
        }
        .active_item:nth-child(7) {
            margin-right: 200px;
        }
        .containers {
            .menu {
                li {
                    height: 4px;
                    width: 60px;
                }
            }
        }
        
    }

  }
  @media only screen and (max-width: 1720px) {
  

       
    .nav_fixed {
        .active_item {
            font-size: 95%;
        }
        .active_item:nth-child(7) {
            margin-right: 140px;
        }
        .containers {
            .menu {
                li {
                    height: 4px;
                    width: 50px;
                }
            }
        }
    }
  }
  @media only screen and (max-width: 1620px) {
    .logo{
      width: 10%;
    }
    .nav_fixed {
        .active_item {
            font-size: 90%;
        }
        .active_item:nth-child(7) {
            margin-right: 120px;
        }
        .containers {
            .menu {
                li {
                    height: 4px;
                    width: 48px;
                }
            }
        }
    }
  }
  @media only screen and (max-width: 1520px) {
    .flagTop{
      top:30%;
    }
    .nav_fixed {
      top:4%;
        .active_item {
            font-size: 80%;
        }
        .active_item:nth-child(7) {
            margin-right: 90px;
        }
        .containers {
            .menu {
                li {
                    height: 4px;
                    width: 45px;
                }
            }
        }
    }

  }
  @media only screen and (max-width: 1420px) {
    .nav_fixed {
        .active_item {
            font-size: 80%;
        }
        .active_item:nth-child(7) {
            margin-right: 20px;
        }
    }
  }

  @media only screen and (max-width: 1320px) {
    .logo{
      width: 11%;
    }
    .nav_fixed {
        .active_item {
            font-size: 70%;
        }
    }
  }
  @media only screen and (max-width: 1250px) {
    .logo{
      width: 13%;
    }
    .nav_fixed {
        .active_item {
            font-size: 65%;
        }
        .item {
            margin-right: 65px;
        }
        .containers {
            .menu {
                li {
                    height: 4px;
                    width: 40px;
                }
            }
        }
    }

  }

  @media only screen and (max-width: 1200px) {
    .nav_fixed {
        .active_item {
            font-size: 65%;
        }
        .item {
            margin-right: 60px;
        }
    }

  }

  @media only screen and (max-width: 1150px) {
    .nav_fixed {
        .active_item {
            font-size: 55%;
        }
        .item {
            margin-right: 65px;
        }
    }
  }

  @media only screen and (max-width: 1080px) {
    .nav_fixed {
        .active_item {
            font-size: 55%;
        }
        .item {
            margin-right: 55px;
        }
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {

    .flagTop{
      right: 0;
      top: 27%;
    }

    .logo{
      top:3%;
      width: 17%;
    }
    .item_menu{
      display: none;
      .item{
        display: none;
      }
      .active_item{
        display: none;
      }
    }
    .mobile_item{
      transition: .6s;
      display: block;
      position: absolute;
      display: flex;
      flex-direction: column;
      right: -30%;
      top: 110%;
      width: 0;
      height: 0;

      font-size: 0;


      .item{
          display: none;
      }
    }
    .mobile_active_item{
      transition: .6s;
      display: block;
      position: absolute;
      right: -60%;
      top: 80%;
      font-size: 400%;
      width: 1000%;
      background: white;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      .active_item{
        cursor: pointer;
        margin-left: 5vh;
        margin-top: 5vh;
        transition: 0s;
      }
    }

    .absolute{
        height: 12%;
    }
    .nav_fixed{
      top: 4%;
      right: 6%;
      .containers {
        .active_menu{
          li{
            &:nth-child(1){
              top: 14px;
              transform: rotate(135deg);
              transition: transform .3s;
              background: black;
            }
            &:nth-child(3){
              bottom: 14px;
              transform: rotate(-135deg);
              transition: transform .3s;
              background: black;
            }
          }

        }
        .menu {
          li {
            height: 4px;
            width: 45px;
            margin: 8px;
          }
        }
      }
    }
    .flagTop{
      display: none;

    }
    .flagTop_mobile{
      display: block;
      transition: 2s all ease;
      transform: scale(1);
      position: absolute;
      top:128%;
      right: 8%;
      z-index: 1999;
      .flag-select{
        .selected--flag--option{
          font-size: 25px !important;
        }
      }

    }
  }
@media only screen and (min-width: 320px) and (max-width: 767px)  {
   .logo{
     top:5%;
     width: 25%;
   }

   .item_menu{
     display: none;
     .item{
       display: none;
     }
     .active_item{
       display: none;
     }
   }
   .mobile_item{
     transition: .6s;
     display: block;
     position: absolute;
     display: flex;
     flex-direction: column;
     right: -30%;
     top: 110%;
     width: 0;
     height: 0;

     font-size: 0;


     .item{
       display: none;
     }
   }
   .mobile_active_item{

     transition: .6s;
     display: block;
     position: absolute;

     right: -50%;
     top: 50%;
     font-size: 250%;

     width: 1000%;
     background: white;
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     .active_item{
       cursor: pointer;
       margin-left: 7vh;
       margin-top: 2vh;
       transition: 0s;
     }
     .active_item:nth-child(7){
       margin-left:3vh   ;
     }
   }

   .absolute{
    height: 15%;
   }
  .nav_fixed{
    top: 6%;
    right: 5%;

    .containers {
      .active_menu{
        li{
          &:nth-child(1){
            top: 10px;
            transform: rotate(135deg);
            transition: transform .3s;
            background: black;
          }
          &:nth-child(3){
            bottom: 10px;
            transform: rotate(-135deg);
            transition: transform .3s;
            background: black;
          }
        }

      }
      .menu {
        li {
          height: 3px;
          width: 25px;
          margin: 5px;
        }
      }
    }
  }
  .flagTop  {
    //top: 35%;
    //.flag-select{
    //  .selected--flag--option{
    //    font-size: 15px !important;
    //  }
    //}
    display: none;
  }
  .flagTop_mobile{
    //transition: 10s;
    //display: block;
    transition: 2s all ease;
    transform: scale(1);
    position: absolute;
    top:100%;
    z-index: 23;
    right: 0;

  }
  .mobile_dis{
    transform: scale(0);
    transition: 1s;
  }
 }
@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .logo{
    top:5%;
    width: 15%;
  }

  .item_menu{
    display: none;
    .item{
      display: none;
    }
    .active_item{
      display: none;
    }
  }
  .mobile_item{
    transition: .6s;
    display: block;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -30%;
    top: 110%;
    width: 0;
    height: 0;

    font-size: 0;


    .item{
      display: none;
    }
  }
  .mobile_active_item{

    transition: .6s;

    position: absolute;
    right: -50%;
    top: 65%;
    font-size: 220%;
    width: 1000%;
    background: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .active_item{
      cursor: pointer;
      margin-left: 7vh;
      margin-top: 1vh;
      transition: 0s;
    }
    .active_item:nth-child(7){
      margin-left:-1vh   ;
    }
  }

  .absolute{
    height: 25%;
  }
  .nav_fixed{
    top: 6%;
    right: 5%;

    .containers {
      .active_menu{
        li{
          &:nth-child(1){
            top: 10px;
            transform: rotate(135deg);
            transition: transform .3s;
            background: black;
          }
          &:nth-child(3){
            bottom: 10px;
            transform: rotate(-135deg);
            transition: transform .3s;
            background: black;
          }
        }

      }
      .menu {
        li {
          height: 3px;
          width: 25px;
          margin: 5px;
        }
      }
    }
  }
  .flagTop  {
    //top: 35%;
    //.flag-select{
    //  .selected--flag--option{
    //    font-size: 15px !important;
    //  }
    //}
    display: none;
  }
  .flagTop_mobile{
    //transition: 10s;
    //display: block;
    transition: 2s all ease;
    transform: scale(1);
    position: absolute;
    top:80%;
    right: 8%;
    z-index: 1999;
    .flag-select{
      .selected--flag--option{
        font-size: 18px !important;
      }
    }


  }
  .mobile_dis{
    transform: scale(0);
    transition: 1s;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .absolute{
    height: 15%;
  }
  .logo{
    width: 14%;
  }
  .mobile_active_item{

    .active_item{

      margin-top: 3vh;

    }
  }
  .flagTop{
   display: none;

  }
  .flagTop_mobile{
    display: block;
    transition: 2s all ease;
    transform: scale(1);
    position: absolute;
    top:100%;
    right: 8%;
    z-index: 1999;
    .flag-select{
      .selected--flag--option{
        font-size: 25px !important;
      }
    }

  }
}



