@media only screen and (max-width: 1520px) {
  .team_all{
    .first{
      height: 38vh;
    }
  }
}
@media only screen and (max-width: 1420px) {
  .team_all{
    .first{
      height: 37vh;
    }
  }
}
@media only screen and (max-width: 1360px) {
  .team_all{
    .first{
      height: 36vh;
    }
  }
}
@media only screen and (max-width: 1340px) {
  .team_all{
    .first{
      height: 35vh;
    }
  }
}
@media only screen and (max-width: 1305px) {
  .team_all{
    .first{
      height: 34.5vh;
    }
  }
}
@media only screen and (max-width: 1290px) {
  .team_all{
    .first{
      height: 33.5vh;
    }
  }
}
@media only screen and (max-width: 1250px) {
  .team_all{
    .first{
      height: 33.2vh;
    }
  }
}
@media only screen and (max-width: 1230px) {
  .team_all{
    .first{
      height: 32.5vh;
    }
  }
}
@media only screen and (max-width: 1215px) {
  .team_all{
    .first{
      height: 30.7vh;
    }
  }
}
@media only screen and (max-width: 1150px) {
  .team_all{
    .first{
      height: 29.5vh;
    }
  }
}
@media only screen and (max-width: 1150px) {
  .team_all{
    .first{
      height: 28vh;
    }
  }
}
@media only screen and (max-width: 1045px) {
  .team_all{
    .first{
      height: 27vh;
    }
  }
}
@media only screen and (max-width: 1000px) {
  .team_all{
    .first{
      height: 26.5vh;
    }
  }
}