.desc{
  position: relative;
  top: 10%;
  color:white;


}
.service_list_item{
  position: relative;
  h2{
    position: absolute;
    top:0%;
    backface-visibility: hidden;
  }
  .service_list_description{

  }
}