.footer {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25vh;
    position: relative;
   
}
.footer_content{
    
    h2{
        color:white;
        font-size: 300%;
        margin-bottom: 5vh;
    }
    .address_contact{
        p{
            padding: 0;
            margin: 0;
            color: white;
            font-size: 120%;
            margin-top: 1vh;
        }
        .footer_p_border{
            border-bottom: 5px solid white;
            width: 25%;
        }
    }
    .address_contact2{
        margin-top: 5vh;
        margin-bottom: 5vh;
        p{
            padding: 0;
            margin: 0;
            color: white;
            font-size: 120%;
            margin-top: 1vh;
        }}
        .footer_p_border{
            border-bottom: 5px solid white;
            width: 50%;
        }
}
.contactOpener{
    width: 25%;
    font-size: 100%;
    padding: 1vh 4vh;
    transition: 1s;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border:3px solid white;
}
.contactOpener:hover{
    transform: scale(1.1);
    transition: 1s;
}
.contact_footer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ebebeb;
    transform: translate(-120%,0);
    transition: .7s;
    border-top: 2px solid black;
}
.contactFooter {
    transform: translate(0px, 0);
    transition: .7s;
}
#mdiv2 {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 10vh;
    transition: 1s;
    cursor: pointer;
  }
  #mdiv2:hover{
    .mdiv2 {
       transform: rotate(315deg);
       transition: 1s;
      }
  }
  .mdiv2 {
    height: 8vh;
    transition: 1s;
    width: 1vh;
    margin-left: 12px;
    background-color: black;
    transform: rotate(45deg);
    z-index: 1;
  }
  
  .md2 {
    height: 8vh;
    width: 1vh;
    background-color: black;
    transform: rotate(90deg);
    z-index: 2;
  }

  .footer_container {
      width: 80%;
      margin: 0 auto;
      
  }