@import '../../scss/mixin.scss';
@import '../../scss/variables.scss';

.valuableServices {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .development {
        width: 24%;
        cursor: default;
        .midlevel {
            width: 80%;
            margin: 10px auto;
            text-align: center;
            font-size: 13px;
             &:hover {
                transform: scale(1.1);
                transition: 1s;
               
            }
            i {
                font-size: 35px;
                color: $color;
            }
            p {
                color: grey;
            }
        }
    }
}